.nav-item {
	color: white;
}

.nav-bar {
	background-color: black;
	width: 100%;
	height: 50px;
	margin-bottom: 15px;
}

a {
	text-decoration: none;
}

label {

}

input {
	border-radius: 5px;
	height: 30px;
	margin-top: 10px;
}

.login-form {
	border: 1px red solid;
	border-radius: 10px;
	background-color: lightblue;
	padding: 25px;
	width: 20%;
	margin-left: 35%;
	margin-top: 15%;
}

.login-btn, .join-btn {
	margin-left: 25%;
	margin-top: 10px;
	width: 50%;
}

.join-form {
	border: 1px red solid;
	border-radius: 10px;
	background-color: lightblue;
	padding: 25px;
	width: 20%;
	margin-left: 35%;
	margin-top: 15%;
}

.product {
	width: 25%;
	height: 50%;
	border: 1px green solid;
	border-radius: 10px;
	background-color: #ececec;
	display: inline-table;
	margin-left: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.product-img {
	width: 100%;
}

.product-img-box {
	border: 2px green solid;
	max-height: 250px;
	max-width: 250px;
	margin: auto;
}

.product-title {
	text-align: center;
	padding: 5px;
}

.product-form {
	text-align: center;
}

.product-content {
	padding: 5px;
	max-height: 15%;
	overflow: scroll;
}

p {
	overflow: hidden;
}